.formInputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}
.input-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw; 
}

.formInputs input,
textarea {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1vw;
    font-family: 'Barlow Condensed', sans-serif;
    border-bottom: 2px solid white;
    width: 25vw;
}
textarea {
    height: 15vh;
    margin-bottom: 5vh;
}
.formInputs input {
    height: 5vh;
}
@media(max-device-width: 568px) {
    .formInputs input,
textarea {
    font-size: 2vh;
    width: 50vw;
}
}