.infosContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    align-items: center;
}
.infosContainer img {
    width: 5vw;
}

.infosItems {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.infosItems img {
    width: 2.3vw;
}