.infosContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    align-items: center;
}
.infosContainer img {
    width: 5vw;
}
.infoStuff {
    width: 100%;
}
.infosItems {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.infosItems img {
    width: 2.3vw;
}
.infosImg {
    opacity: 1;
}
@media(max-device-width: 568px) {
    .infosContainer {
        display: none;
    }
}