.homeGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 80%;
}
#scene {
    margin-bottom: -10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 80vh;
    opacity: 1;
}
#scene img {
    height: 60vh;
}

@media (max-device-width: 568px) {
    .homeGrid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #scene {
        align-items: unset;
        margin: 0;
    }
    #scene img {
        height: 20vh;
        margin-top: 5vh;
    }
}