.bioContainer {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
}
#scene2 {
    height: 50vh;
    opacity: 1;
}

@media(max-device-width: 568px) {
    .bioContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    #scene2 {
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
   
}